.todo-form {
  padding: 0 0.5rem;
  position: relative;
  font-size: 1.8rem;
  ul {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 0.3rem solid black;
      list-style: none;
      .form-actions {
        display: flex;
        gap: 0.3rem;
      }
    }
  }
}

@media screen and (min-width: 425px) {
  .todo-form {
    padding: 0;
    min-width: 420px;
  }
}

@media screen and (min-width: 768px) {
  .todo-form {
    font-size: 2rem;
    gap: 2.5rem;
    ul {
      gap: 2rem;
    }
  }
}

body.dark li {
  border-color: rgba(255, 255, 255, 0.5);
}