.todo-search {
    // Background transparent - blur background
    position: sticky;
    top: 0;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    outline: 0.3rem solid black;
    background-color: transparent;
    font-size: 1.8rem;
    font-weight: 700;
    transition: .3s all ease;
    &:focus {
      outline: 0.3rem solid orange;
    }
    &::placeholder {
      color: rgba(0, 0, 0, 0.4);
      font-weight: 500;
    }
  }

  body.dark .todo-search {
    color: white;
    outline-color: rgba(255, 255, 255, 0.5);
    &:focus {
      outline: 0.3rem solid orange;
    }
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  } 

  @media screen and(min-width: 768px) {
    .todo-search{
      padding: 10px 20px;
    }
  }
