.todo-search {
    // Background transparent - blur background
    position: sticky;
    top: 0;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    outline: 0.3rem solid black;
    background-color: transparent;
    font-size: 1.8rem;
    font-weight: 700;
    transition: .3s all ease;
    &:focus {
      outline: 0.3rem solid #FF9300;
    }
    &::placeholder {
      color: rgba(0, 0, 0, 0.4);
      font-weight: 500;
      font-size: 1.8rem;
    }
  }

  body.dark .todo-search {
    color: white;
    outline-color: #FFF2;
    &:focus {
      outline: 0.3rem solid #FF9300;
    }
    &::placeholder {
      color: #FFF2;
    }
  } 
