 
.todo-counter {
    position: relative;
    font-size: 2.4rem;
    text-align: center;
    span {
        color: orange;
    }
    .completed {
        color: #FF5151;
    }
}

@media screen and (min-width:768px) {
    .todo-counter {
        font-size: 3.4rem;
    }
}