button {
    position: fixed;
    bottom: 24px;
    right: 65px;
    margin-top: 2rem;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-color: transparent;
    border: 0.3rem solid black;
    cursor: pointer;
    transform: rotate(0);
    transition: all ease 0.3s;
    &:hover {
      transform: rotate(224deg);
    }
    // .plus-icon {
    //   font-size: 1.9rem;
    // }
  }