footer {
    font-size: 1.4rem;
    padding: 7rem 0 3rem 0;
}
.footer__desctiption {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    .footer__description-icon {
        color: red;
    }
    .footer__description-name {
        border-radius: 8px;
        padding: 0.5rem 0.5rem;
        background-color: black;
        color: white;
    }
}

body.dark .footer__description-name {
    background-color: white;
    color: black;
}